{"filter":false,"title":"edit.html.slim","tooltip":"/bookers2-debug/app/views/users/edit.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1620396245866,"hash":"6d174a3f53ba284e870abefb559615e83edfddec"}