{"filter":false,"title":"followings.html.slim","tooltip":"/bookers2-debug/app/views/users/followings.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1620396313262,"hash":"a44c0c51fe3e17dbb881906bc761e70cc5518456"}