{"filter":false,"title":"_form.html.slim","tooltip":"/bookers2-debug/app/views/book_comments/_form.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1620311015331,"hash":"29d534baa5cb301f0bc15c79579be9c170ccf4c5"}