{"filter":false,"title":"_error_messages.html.slim","tooltip":"/bookers2-debug/app/views/devise/shared/_error_messages.html.slim","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":4,"column":8},"end":{"row":4,"column":9},"action":"remove","lines":[" "],"id":2},{"start":{"row":4,"column":7},"end":{"row":4,"column":8},"action":"remove","lines":[" "]},{"start":{"row":4,"column":6},"end":{"row":4,"column":7},"action":"remove","lines":["-"]}],[{"start":{"row":5,"column":7},"end":{"row":5,"column":8},"action":"remove","lines":[" "],"id":3},{"start":{"row":5,"column":6},"end":{"row":5,"column":7},"action":"remove","lines":["-"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":5,"column":6},"end":{"row":5,"column":6},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1620313845814,"hash":"5da7a99b23a6e529cc9095e7171a2da6db1e2aad"}