{"filter":false,"title":"_links.html.slim","tooltip":"/bookers2-debug/app/views/devise/shared/_links.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1620314072962,"hash":"4bfb55a71fe494ec70677231da1de1a48aeca553"}