{"filter":false,"title":"new.html.slim","tooltip":"/bookers2-debug/app/views/devise/passwords/new.html.slim","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1620397237474,"hash":"5d36cd026303b3377dc5d878d758ff40fa0e0fb1"}